@* / *@

@{
  Layout="Shared/_Layout.cshtml";
}
<div class="space">
  <h1>Contacts</h1>

  @foreach (var contact in Model)
  {
    <p class="add"><a href="/contact/@contact.GetId()">@contact.GetName()</a></p>
  }

  <p><a href="/contact/new">Add a New Contact</a></p>
  <p><a href="/search/contacts">Search for a Contact</a></p>
  <form action="/contacts/cleared" method="post">
    <button type="submit" name="button">Clear Contacts</button>
  </form>
</div>
