@* /search/contacts *@

@{
  Layout="Shared/_Layout.cshtml";
}

<h1>Search for a contact</h1>
<form action="/search/result" method="post">
  <label for="search-contact">Contact Name</label>
  <input id="search-contact" name="search-contact" type=text>
  <button type="submit">Search</button>
</form>
<p><a href="/">Back Home</a></p>
